<div class="col col-md-d5 col-sm-6">
	<div class="chapter" id="chapter-{id}" data-id="{id}">
		<div class="chapter-heading fade scale show">
			<h4><i class="icon icon-magic"></i> <span class='name'>{name}</span></h4>
		</div>
		<div class="chapter-body" id="sections-{id}">
		</div>
	</div>
</div>
